.main-menu {
	display: flex;
	flex-direction: row;
}

.main-menu__element {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 50px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 16.66%;
}