.lifeSupport {
	display: flex;
	flex-direction: column;
	height: 720px;
}

.lifeSupport-title {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 50px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 99.75%;
}
.lifeSupport-params {
	display: flex;
	flex-direction: row;
	height: 300px;
}

.lifeSupport-params__pressure {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 292px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 65%;
}
.lifeSupport-params__air {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 292px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 35%;
}
.lifeSupport-airControl {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 380px;
	border-right: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 99.8%;
}