.system {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
}

.system-thrusters {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 248px;
	border-right: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 62.5%;
}
.system-batteries {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 248px;
	border-right: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 37.5%;
}
.system-element {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 300px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 20%;
}
.system-menu__params {
	display: flex;
	flex-direction: row;
	height: 248px;
	width: 100%;
}

.system-menu {
	display: flex;
    flex-direction: column;
    width: 80%;
}

/*===============BUTTONS=====================*/

.system-menu__buttons {
	display: flex;
	flex-direction: row;
}

.system-menu__buttons-element {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 50px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 4px 0 0 2px;
	width: 20%;
}